<!--templates/blog/blog_list.html-->

{% extends 'base.html' %}

{% block header %}
        {{ posts.header }}
{% endblock %}

{% comment %}
{% block add_note %}
 {% if user.is_staff %}
           <div id="add_note" style="text-align:right;">
                <div class="add_wrap">
                 <img src="/media/data/flat-round-plus-sign-green-260nw-652023094.png" style="height: 50px;" title="Ajouter une entr&eacute;e">
                <div class="separator_space" style="height: 20px;"></div>
                </div>
           </div>
 {% endif %}
{% endblock %}
{% endcomment %}

{% block container %}

<div class="container">
<div class="row">
    {% for post in posts.conservationitem_set.all  %}
    <!--    <div class="col-sm-6 mt-4"> -->
    <!--        <div class="card"> -->
            <div class="card-body">
	         <div class="row">
		{% with img=post.image %}
		{% if img %}
		    {% if forloop.counter0|divisibleby:2 %}
			 <div class="col-4">  <img src="{{ post.image.url }}" class="card-img-top img-fluid" alt="{{ post.title }}"> </div>
                         <div class="col-8" style="text-align:justify;">
                             <h5 class="card-title">{{ post.title }}</h5>
                             <p class="card-text">{{ post.body | truncatechars:1500 }}</p>
                         </div>
		    {% else %}
                         <div class="col-8" style="text-align:justify;">
                             <h5 class="card-title">{{ post.title }}</h5>
                             <p class="card-text">{{ post.body | truncatechars:1500 }}</p>
                         </div>
			 <div class="col-4">  <img src="{{ post.image.url }}" class="card-img-top img-fluid" alt="{{ post.title }}"> </div>
		    {% endif %}
		{% else %}
                     <div class="col-12" style="text-align:justify;">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.body | truncatechars:1500 }}</p>
                     </div>
		 {% endif %}
		 {% endwith %}
          </div> 
       </div> 
    {% endfor %}

</div>
</div>

{% endblock %}
